<header>
    <nav>
        <a href="/works">My Work</a>
        <a href="/contact">Contact</a>
        <a href="/admin/panel">Admins</a>
    </nav>
    <div>
        <h1><a href="/">Pablo de Estrada</a></h1>        
    </div>
    <div>
        <a href="https://www.instagram.com/pablo.de.estrada/" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/pablodeestrada/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://youtube.com/channel/UCJR0pkpzdniB-fpUvWxKiSg" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://vimeo.com/pabloestrada" target="_blank"><i class="fab fa-vimeo"></i></a>
    </div>
</header>
