<%- include('partials/head.ejs')  %>
<link rel="stylesheet" href="/css/index.css">

<body>
    <%- include('partials/header.ejs') %> 
    <main>
        <div>
            <section>
                <div><iframe width="100%" height="315" src="https://www.youtube.com/embed/EQIfz01qPIg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                <h2>Short 3rd year animation</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum corrupti odio qui alias illo odit, ducimus labore non tenetur atque.</p>
            </section>
            <section>
                <div><img src="/img/ilustration.jpg" width="100%"></div>
                <h2>Ilustration</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum corrupti odio qui alias illo odit, ducimus labore non tenetur atque.</p>
            </section>
            <section>
                <div><img src="/img/visual.desing.jpg" width="100%"></div>
                <h2>Visual Design</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum corrupti odio qui alias illo odit, ducimus labore non tenetur atque.</p>
            </section>
            <section>
                <div><img src="/img/character.design.jpg" width="100%"></div>
                <h2>Character Design</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum corrupti odio qui alias illo odit, ducimus labore non tenetur atque.</p>
            </section>
        </div>
        
    </main>


</body>