<%- include('../partials/head.ejs')  %>
<link rel="stylesheet" href="/css/myWork.css">

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <div>
            <div>
                <a href="/mywork/character_design">
                    <img src="/img/cover-Char-Des.jpg" width="100%">
                    <h3>Character Design</h3>
                </a>
            </div>

            <div>
                <a href="/mywork/personal">
                    <img src="/img/cover-personal-work.png" width="100%">
                    <h3>Personal Work</h3>
                </a>
            </div>

            <div>
                <a href="/mywork/animation">
                    <img src="/img/cover-personal-work.png" width="100%">
                    <h3>Animation</h3>
                </a>
            </div>
        </div>
        <a href="/descargables/Pablo de Estrada - Resume.pdf" download="Pablo de Estrada - Resume" >Download my Resume</a>

    </main>


</body>